<section>
	<h3>about Myself</h3>
	<div class="face-lockup">
		<div class="face-img"></div>
		<div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
	    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
	    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
	    <div class="icon-video">{% include icons/icon-video.html %}</div>
    
	</div>

	<div class="blurb">
		<p><strong>what is bouth dfu jnull dsfuu. dsouk</strong> good why no that is your pence how to just remind facing do you get me in same pacefull thinking about the getting zouien.
		bouth dfu jnull dsfuu you get facing do you get me in same pacefull thinking about the me in same .</p>
	</div>

	<div class="skill-lockup">

		<div class="skill-unit">
			<div class="skill-lable"></div>
			<div class="skill-icons">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>
	</div>
</section>