<img src="assets/img/travel/trip-5/img1.jpg" alt="Slovakia">

<p>Slovakia: Visited Slovakia 3 times, spent most of my times at the Tatra mountain, Excelent place for mountain hiking in the summer and beginner-intermidiate sking in the winter</p>
<img src="assets/img/travel/trip-5/img1.jpg" alt="Slovakia">
<img src="assets/img/travel/trip-5/img2.jpg" alt="Slovakia">
<img src="assets/img/travel/trip-5/img3.jpg" alt="Slovakia">
<img src="assets/img/travel/trip-5/img4.jpg" alt="Slovakia">
<img src="assets/img/travel/trip-5/img5.jpg" alt="Slovakia">