<img src="assets/img/travel/trip-4/img1.jpg" alt="Germany">


<p>Germany: I have lived in a germany for over 3 years by now and its a seond home for me, immediatly felt connected with the mentality and social norms, its hard to summerise the country as it have so many faces.</p>
<img src="assets/img/travel/trip-4/img2.jpg" alt="Germany">
<img src="assets/img/travel/trip-4/img3.jpg" alt="Germany">
<img src="assets/img/travel/trip-4/img4.jpg" alt="Germany">
<img src="assets/img/travel/trip-4/img5.jpg" alt="Germany">