---
---

///////////////////////
//
// Variables
//
///////////////////////

//------------------------------------------------
// Transition the image paths from the settings file to usable SASS variables
$animation: {{ site.data.layout.animation }}
$logo-path: '{{ site.data.layout.logo }}'
$hero-path: '{{ site.data.layout.hero }}'
$avatar-path: '{{ site.data.layout.avatar }}'

$trips: "trip-1", "trip-2", "trip-3", "trip-4", "trip-5", "trip-6", "trip-7", "trip-8", "trip-9", "trip-10", "trip-11", "trip-12"

//------------------------------------------------
// Set some colors as sass variables

$accent: {{ site.data.layout.accent }}
$accent-light: {{ site.data.layout.accent-light }}
$bgcolor: {{ site.data.layout.bgcolor }}

$documentBackgroundColor: {{ site.data.layout.documentBackgroundColor }}
$headlineColor: {{ site.data.layout.headlineColor }}
$textColor: {{ site.data.layout.textColor }}
$linkColor: {{ site.data.layout.linkColor }}
$selectionColor: {{ site.data.layout.selectionColor }}


///////////////////////////
//
// SASS IMPORTS
//
///////////////////////////

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'